<div ng-controller="AccountCtrl" class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <table class="table table-condensed table-hover table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="text-center tableHover" ng-click="toSortTable('name')"><h4>Name</h4></th>
                    <th class="text-center tableHover" ng-click="toSortTable('date')"><h4>Date</h4></th>
                    <th class="text-center tableHover" ng-click="toSortTable('cash')"><h4>Cash</h4></th>
                    <th class="text-center">
                        <button class="btn btn-default" ng-click="open()"><span
                                class="glyphicon glyphicon-cog"></span></button>
                    </th>
                </tr>
                <!--            <tr>
                                <th class="text-center">
                                    <div ng-class="{'has-error': nameError === true}">
                                        <input class="form-control" type="text" ng-model="newAcco.name"/>
                                    </div>
                                </th>
                                <th class="text-center">
                                    <input class="form-control" type="date" ng-model="newAcco.date"/>
                                </th>
                                <th>
                                    <div ng-class="{'has-error': cashError === true}">
                                        <input class="form-control" type="number" ng-model="newAcco.cash"/>
                                    </div>
                                </th>
                                <th class="text-center">
                                    <button class="btn btn-success" ng-click="addAccountsRow()"><span
                                            class="glyphicon glyphicon-plus"></span></button>
                                </th>
                            </tr>-->
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts | orderBy: sortType: sortReverse"
                    ng-class="{'success': account.type === 'income', 'danger': account.type === 'cost', 'warning': account.type === 'zero'}"
                    ng-click="trLinkTo('accounts', account._id)">
                    <td>{{account.name}}</td>
                    <td class="text-center">
                        <time am-time-ago="account.date"></time>
                    </td>
                    <td class="text-right">{{account.cash | moneyMask: 2 : "," : " " }}</td>
                    <td class="text-center" width="50">
                        <button class="btn btn-danger btn-sm" ng-click="remove(account)"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
                <tr ng-show="inputRow">
                    <td class="text-center">
                        <div ng-class="{'has-error': nameError === true}">
                            <input class="form-control" type="number" ng-model="newAcco.name"/>
                        </div>
                    </td>
                    <td class="text-center">
                        <input class="form-control" type="date" ng-model="newAcco.date"/>
                    </td>
                    <td>
                        <div ng-class="{'has-error': cashError === true}">
                            <input class="form-control" type="number" ng-model="newAcco.cash"/>
                        </div>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-success" ng-click="addAccountsRow(newAcco.name, newAcco.cash)"><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" ng-click="inputRow = !inputRow">
                        <button class="btn btn-block btn-primary">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                <!--<button class="btn btn-danger" ng-click="removeAll()">Remove All <span
                        class="glyphicon glyphicon-warning-sign"></span></button>-->
            </table>
        </div>
        <div class="col-md-6" ng-controller="DonutGraphCtrl">
        </div>
    </div>
</div>