<div ng-controller="AccountCtrl" class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <table class="table table-condensed table-hover table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="text-center tableHover" ng-click="toSortTable('name')"><h4>Name</h4></th>
                    <th class="text-center tableHover" ng-click="toSortTable('date')"><h4>Complete date</h4></th>
                    <th class="text-center tableHover" ng-click="toSortTable('nowDate')"><h4>Write date</h4></th>
                    <th class="text-center tableHover" ng-click="toSortTable('cash')"><h4>Cash</h4></th>
                    <th class="text-center">
                        <button class="btn btn-default" ng-click="open()"><span
                                class="glyphicon glyphicon-cog"></span></button>
                    </th>
                </tr>
                <!--            <tr>
                                <th class="text-center">
                                    <div ng-class="{'has-error': nameError === true}">
                                        <input class="form-control" type="text" ng-model="newAcco.name"/>
                                    </div>
                                </th>
                                <th class="text-center">
                                    <input class="form-control" type="date" ng-model="newAcco.date"/>
                                </th>
                                <th>
                                    <div ng-class="{'has-error': cashError === true}">
                                        <input class="form-control" type="number" ng-model="newAcco.cash"/>
                                    </div>
                                </th>
                                <th class="text-center">
                                    <button class="btn btn-success" ng-click="addAccountsRow()"><span
                                            class="glyphicon glyphicon-plus"></span></button>
                                </th>
                            </tr>-->
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts | orderBy: sortType: sortReverse"
                    ng-class="{'success': account.type === 'income', 'danger': account.type === 'cost', 'warning': account.type === 'zero'}"
                    ng-click="trLinkTo('accounts', account._id)">
                    <td class="">{{account.name}}</td>
                     <td class="text-center ">
                        <time am-time-ago="account.date" tooltip="{{account.date | date:'dd-MM-yyyy'}}"></time>
                    </td>
                    <td class="text-center ">
                        <time am-time-ago="account.nowDate" tooltip="{{account.nowDate | date:'dd-MM-yyyy HH:mm:ss'}}"></time>
                    </td>
                    <td class="text-right ">{{account.cash | moneyMask: 2 : "," : " " }}</td>
                    <td class="text-center" width="50">
                        <button class="btn btn-danger" ng-click="remove(account)"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
                <tr ng-show="inputRow">
                    <td class="text-center">
                        <div ng-class="{'has-error': nameError}">
                            <input class="form-control" type="text" ng-model="newAcco.name"/>
                        </div>
                    </td>
                       <td class="text-center">
                          <input class="form-control" type="date" style="padding: 3px;" ng-model="newAcco.date"/>
                      </td>
                     <td></td>
                    <td>
                        <div ng-class="{'has-error': cashError}">
                            <input class="form-control" style="padding: 3px; text-align: right" type="number" ng-model="newAcco.cash"/>
                        </div>
                    </td>
                    <td class="text-center" width="50">
                        <button class="btn btn-success" ng-click="addAccountsRow(newAcco.name, newAcco.date, newAcco.cash)"><span
                                class="glyphicon glyphicon-ok"></span></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" ng-click="inputRow = !inputRow" style="padding: 0">
                        <button class="btn btn-block btn-primary">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                <!--<button class="btn btn-danger" ng-click="removeAll()">Remove All <span
                        class="glyphicon glyphicon-warning-sign"></span></button>-->
            </table>
        </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                <div donut-graphic data-sorttype="income"></div>
            </div>
        </div>
    </div>
    </div>
</div>